@import url("./main.css");

#marcus-payne {
  margin-top: 150px;
}

#marcus-payne .marcus-payne-porfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#marcus-payne .marcus-payne-porfolio .marcus-payne-porfolio-item img {
  border: 1px solid #0575e6;
  border-radius: 5px;
}

#marcus-payne .marcus-payne-porfolio .marcus-payne-porfolio-item h3 {
  font-size: var(--h3Font);
  color: green;
  font-weight: 600;
  margin-top: 20px;
}

#marcus-payne .marcus-payne-porfolio .marcus-payne-porfolio-item h5 {
  font-size: var(--h5Font);
  color: #494646;
  margin-top: 12px;
}

#marcus-payne .marcus-payne-porfolio .marcus-payne-porfolio-item h6 {
  font-size: var(--h6Font);
  color: #0575e6;
  margin-top: 12px;
}

#marcus-payne .marcus-payne-porfolio .marcus-payne-porfolio-item i {
  color: green;
  margin-right: 18px;
  margin-top: 12px;
}

#marcus-payne .marcus-payne-porfolio .marcus-payne-porfolio-item p {
  font-size: var(--textFont);
  line-height: 1.6rem;
}

#marcus-payne .marcus-payne-porfolio .marcus-payne-porfolio-item-content {
  font-size: var(--textFont);
  text-align: center;
  line-height: 1.6rem;
  margin-top: 50px;
}