@import url("./main.css");

#staff-directory {
  margin-top: 150px;
  padding-left: 25px;
  padding-right: 25px;
}

#staff-directory .nir {
  margin-top: 10px;
  position: relative;
}

#staff-directory .nir small {
  font-size: 16px;
}

#staff-directory .nir h1 {
  font-size: var(--h1Font);
  color: green;
  letter-spacing: 2px;
}

#staff-directory .nir h3 {
  font-size: var(--h3Font);
  color: #0575e6;
  position: absolute;
  left: 110px;
}

#staff-directory .nir-teams {
  margin-top: 80px;
}

#staff-directory .nir-teams .nir-teams-meambers {
  margin-bottom: 150px;
}

#staff-directory .nir-teams .nir-teams-meambers h2 {
  text-align: center;
  color: green;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

#staff-directory .nir-teams .nir-teams-meambers p {
  font-size: var(--textFont);
  color: #8d8989;
  text-align: center;
  line-height: 1.6rem;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 25px;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item h3 {
  font-size: var(--h3Font);
  color: green;
  font-weight: bold;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item .img-wrapper1 {
  width: 200px;
  height: auto;
  background: #00f260;
  background: -webkit-linear-gradient(to top, #0575e6, #00f260);
  background: linear-gradient(to top, #0575e6, #00f260);
  border-top-left-radius: 300%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 1000%;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item .img-wrapper2 {
  width: 200px;
  height: auto;
  background: #00f260;
  background: -webkit-linear-gradient(to top, #0575e6, #00f260);
  background: linear-gradient(to top, #0575e6, #00f260);
  border-top-left-radius: 10%;
  border-top-right-radius: 1000%;
  border-bottom-left-radius: 3000%;
  border-bottom-right-radius: 10%;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item .img-wrapper3 {
  width: 200px;
  height: auto;
  background: #00f260;
  background: -webkit-linear-gradient(to top, #0575e6, #00f260);
  background: linear-gradient(to top, #0575e6, #00f260);
  border-top-left-radius: 100%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 200%;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item .img-wrapper1 img,
#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item .img-wrapper2 img,
#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item .img-wrapper3 img {
  border-radius: 50%;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item i {
  font-size: 18px;
  color: green;
  margin-right: 5px;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item h5 {
  font-size: var(--h5Font);
  color: #494646;
}

#staff-directory .nir-teams .nir-teams-meambers .nir-teams-member .nir-teams-member-item span {
  font-size: 16px;
  color: #8d8989;
}